body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  align-content: center;
  background-color: #8C00FF;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-container{
  background-color: #FF3F7F;
}

.todo-title{
  text-align: center;
}

.filterDelete-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: center;
}

